<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>

<body>
<script src="../javascripts/JSCode.js">
</script>

<input type="button" class="button" value="Create Counter" onclick="CreateCounter()">

<section class="feedback_form">
    <table>
        <tr>
            <td><label><b>Enter Counter Number </b></label>
                <input type="text" id="CounterNumber" class="myclass">
            <td>
        </tr>
        <tr>
            <td>
                <input type="button" class="button" value="Find" onclick="FindResultsFixed()">
                <input type="button" class="dropbtn" value="Enter the Number of hours" onclick="FindResultsDynamic()">
                <input type="text" id="NumberOfHours" class="myclass">
                <div id="NOH" class="myclass1"></div>
            </td>
        </tr>
    </table>
    <div id="test" class="myclass1"></div>
</section>

</body>
</html>


