
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.myclass {
  height: 20px;
  width: 30px;
  position: relative;
  border: 2px solid #cdcdcd;
  border-color: rgba(0, 0, 0, 0.8);
  background-color: #878c93;
  color: white;
  font-size: 14px;
}

.feedback_form {
  top: 10px;
  position: absolute;
  left: 400px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #4CAF50;
  color: white;
  text-align: left;
  padding: 8px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
